<h1>Play#play_game</h1>
<center>
<%= link_to(image_tag("#{@user.avatar.url}",:width=>350,:height=>350),@user.avatar.url,:class=>("top_up")) %>
<br></br>


<%= @user.name  %>  <%= radio_button "","","#{@user.id}" %>
<%= @user1.name  %>  <%= radio_button "","","#{@user1.id}" %>
<%= @user2.name  %>  <%= radio_button "","","#{@user2.id}" %>
<%= @user3.name  %>  <%= radio_button "","","#{@user3.id}" %>

<%= submit_tag("ANSWER") %>



